@font-face {
  src: url("/assets/fonts/Bohemian_Soul.otf") format("truetype");
  font-family: "Richard Samuels";
  src: url("/assets/fonts/Richard_Samuels.otf") format("truetype");
}

.swal2-popup {
  height: 600px;
  width: 700px;
  font-family: "Richard Samuels";
  font-size: 25px;
}


.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #185698 !important;
  font-family: "Richard Samuels";
}
.swal2-popup .swal2-styled.swal2-cancel {
  background-color: #185698 !important;
  font-family: "Richard Samuels";
}
.swal2-popup .swal2-styled:focus {
  background-color: #185698 !important;
  font-family: "Richard Samuels";
}

.swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
  background-color: #185698 !important;
  font-family: "Richard Samuels";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #4ca4f7, #005cb1);
}

.container {
  display: flex;

  /* height: 100vh; */
}

.container-play {
  align-items: flex-start;
}

.left-rocks {
  position: relative;
  flex: 1;
  background-image: url("/assets/images/left-rocks.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.right-rocks img,
.left-rocks img {
  height: 100vh;
}

.middle-area {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.middle-image {
  opacity: 0.6;
  transform: translate(-50%, -50%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-image: url("/assets/images/background-fishes.svg");
  background-repeat: repeat-y;
  background-position: center bottom;
  animation: animate-background 60s linear infinite;
}

@keyframes animate-background {
  0% {
    background-position: center bottom;
  }

  100% {
    background-position: center top;
  }
}

.middle-content {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* stylelint-disable selector-class-pattern */
.PlayNow {
  position: relative;
}

.right-rocks {
  position: relative;
  flex: 1;
  background-image: url("/assets/images/right-rocks.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bubbles {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgb(105 167 237 / 46%);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow:
    0 0 0 10px rgb(116 166 240 / 39.1%),
    0 0 50px rgb(104 156 223),
    0 0 100px rgb(31 85 140 / 41%);
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}

.bubbles span:nth-child(even) {
  background: rgb(105 167 237 / 46%);
  box-shadow:
    0 0 0 20px rgb(116 166 240 / 39.1%),
    0 0 50px rgb(104 156 223),
    0 0 100px rgb(31 85 140 / 41%);
}

@keyframes animate {
  0% {
    top: 100vh;
    transform: translateY(0) scale(0);
  }

  100% {
    top: -50vh;
    transform: translateY(0) scale(1);
  }
}

@media (max-width <= 768px) {
  .container {
    flex-direction: column;
  }

  .left-rocks,
  .right-rocks {
    flex-basis: 50%;
    background-size: contain;
  }

  .middle-area {
    overflow: initial;
  }

  .middle-content {
    max-width: 100%;
  }
}

.contenedor-juego {
  flex: 1;
  position: relative;
  overflow: hidden;
  background-image: url("/assets/images/background-fishes.svg");
  background-repeat: repeat; /* O repeat-x según tus necesidades */
  background-size: auto; /* Modificación aquí */
  background-position: center;
}

.contenedor {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container-buttons-game {
  display: flex;
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.container-buttons-game .button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.container-buttons-game button {
  display: block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  font-size: 20px;
}

.score {
  position: absolute;
  top: 200px; /* Ajusta la posición vertical del score */
  left: 25%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: "Richard Samuels", sans-serif;
  font-size: 60px; /* Ajusta el tamaño del score */
  font-weight: bold;
  color: #fff;
  background-color: rgb(0 0 0 / 50%);
  padding: 10px 20px;
  border-radius: 10px;
}

.restartButton {
  width: 300px;
  height: 100px;
  background: transparent;
  border: 2px;
  outline: none;
  border-radius: 47px;
  cursor: pointer;
  color: rgb(3 3 3);
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
  font-size: 35px;
  font-family: "Richard Samuels", sans-serif;
}

/* .objeto {
  width: 84px;
  height: 84px;
  position: absolute;
  top: 22px;
  z-index: 2;
  background: url("../../assets/icons/swimming-cabriella.png") repeat-x 0 0;
  background-size: 336px 84px;
  background-position-x: 0;
} */
.objeto {
  width: 100px;
  height: 198px;
  position: absolute;
  top: 22px;

  /* left: 480px; */
  z-index: 2;
  background: url("/assets/icons/swimming-cabriella.png") repeat-x 0 0;
  background-position-x: 0;

  /* background-repeat: no-repeat; */
  background-size: contain;
}

/* .objeto-corriendo {
  animation: animar-objeto 0.25s steps(2) infinite;
} */

.espacio {
  width: 1000px;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;

  /* background-size: 50% 42px; */
}

.obstacle {
  position: absolute;
  top: 0;

  /* Resto de estilos para posición y tamaño */
}

.medusa {
  width: 88px;
  height: 118px;
  position: absolute;

  /*  bottom: 1px; */
  left: 600px;
  z-index: 1;
  background: url("assets/icons/jellyfish2.png") no-repeat;
  background-position: bottom;
  background-size: cover;
}

.pulpo {
  width: 130px;
  height: 130px;
  background: url("/assets/icons/octopus2.png") no-repeat;
  background-position: bottom;
  background-size: cover;
}

.tiburon {
  width: 160px;
  height: 108px;
  background: url("/assets/icons/shark2.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
/* stylelint-disable selector-id-pattern */
#returnButton {
  background-image: url("/assets/icons/return.svg");
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#restartButton {
  background-image: url("/assets/icons/restart.svg");
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

#restartButton:active {
  width: 95px;
  height: 95px;
}

.pauseButtonTwo {
  background-image: url("/assets/icons/play.svg") !important;
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pauseButton {
  background-image: url("/assets/icons/pause.svg");
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.soundButtonTwo {
  background-image: url("/assets/icons/sound-on.svg");
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.soundButton {
  background-image: url("/assets/icons/sound-off.svg");
  background-color: transparent;
  width: 80px;
  height: 80px;
  outline: none;
  border: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
}

@keyframes animar-objeto {
  from {
    background-position-x: -84px;
  }

  to {
    background-position-x: -252px;
  }
}

@keyframes vibration {
  0% { transform: translate(0); }
  20% { transform: translate(-4px, -4px); }
  40% { transform: translate(4px, -4px); }
  60% { transform: translate(-4px, 4px); }
  80% { transform: translate(4px, 4px); }
  100% { transform: translate(0); }
}

/* stylelint-disable indentation */
